html{
  height: 100%;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 100%;
  background: #333 url('https://image.ibb.co/n5A2HU/showcase.jpg') no-repeat center center / cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover{
  text-decoration: none;
  color: indigo;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

/* h2 {
  font-size: 2rem;
  color: #aaa;
} */

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid rgb(78, 75, 75);
}


form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.space-bar{
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
ul{
  list-style-type: none;
}
.project-details{
  min-height: calc(100vh - 178px);
}
p > img {
  width: 100%;
}
p.project-content > p{
  margin-bottom: 5px;
  /* padding-bottom: 0px; */
}

.navbar-brand{
  margin-left: 1em;
  margin-right: 1em;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.category-title{
  margin-left: 40%;
  font-weight: 500;
  color: indigo;
}

.ant-carousel .slick-slide {
  padding: auto;
  text-align: center;
  height: 18em;
  background: #fff;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
div.carousel-text {
  height: 14em;
  overflow: hidden;
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.carousel-top::before{
  content: "Latest News";
  color: #fff;
  background-color: green;
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  padding: 3px 5px;
  border-top-right-radius: 15px;
}
.sport, .crime-watch, .politics, .entertainment{
  position: relative;
}
.sport::before{
  content: "Sports";
  color: #fff;
  background-color: green;
  position: absolute;
  top: 0px;
  left: 14px;
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  padding: 3px 5px;
  border-top-right-radius: 15px;
}
.politics::before{
  content: "Politcs";
  color: #fff;
  background-color: green;
  position: absolute;
  top: 0px;
  left: 14px;
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  padding: 3px 5px;
  border-top-right-radius: 15px;
}
.crime-watch::before{
  content: "Crime";
  color: #fff;
  background-color: Red;
  position: absolute;
  top: 0px;
  left: 14px;
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  padding: 3px 5px;
  border-top-right-radius: 15px;
}
.entertainment::before{
  content: "Entertainment";
  color: #fff;
  background-color: Red;
  position: absolute;
  top: 0px;
  left: 14px;
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  padding: 3px 5px;
  border-top-right-radius: 15px;
}
.NavItem:active{
  text-decoration:none;
  background-color: indigo;
  color: #ffffff;
  border-radius: 5px;
}
.Navbar, .container{
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
  Nav, .NavItem, .nav-link{
  margin: 0px;
  padding: 0px auto;
}
.nav-link:hover{
  text-decoration:none;
  background-color: rgb(135, 70, 182);
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
}
.privacy:hover{
  background: rgb(135, 70, 182);
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.fa {
    font-weight: 900;
    padding: 0px auto;
    margin: 0px;
    margin-bottom:-3px;
    font-size: 1.1em;
}
.navbar-dark {
    background-color: #512DA8;
}
.userForm .ql-toolbar{
  display: none;
}
.ql-editor {
  min-height: 15em;
  border-top: solid 1px rgb(24, 23, 23);
  margin-bottom: 0px;
}
div.quill.userForm{
  margin-bottom: -15px;
}
svg > path{
  display: none;
}
@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}
@media(max-width: 1024px){
  .navbar-brand{
    margin-left: 1em;
    margin-right: auto;
  }
}
@media(max-width: 800px) {
  .project-details{
    min-height: calc(100vh - 218px);
  }
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
  .dashboardNav{
    display: inline;
  }
 
  li:nth-child(2) > a{
  width: 13%;
  height: 13%;
  border-radius: 100%;
  margin-top: 0.5em;
 }
 #root > div > nav > a{
   margin-left: 20%;
 }
 .category-title{
  margin-left: 25%;
}
}
@media(max-width: 700px) {
  .content-carousel {
    display: none;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  .ant-carousel .slick-slide {
    height: 23em;
    margin: auto 0px;
  }
  #root > div > div > div > div.col-12.col-md-8 > div:nth-child(2) > div{
    display: none;
  }
  #root > div > div > div > div.col-12.col-md-4.bg-white.rounded.justify-content-center{
    margin: auto;
  }
}